body {
    --darkgrey: grey;
    --orange: #f57519;
    --orangegradient: #f575197d;
    --white: #ffffff;
    --darkpurple: #4a30be;
    --darkpurplegradient: #4a30be87;
}


h1 {
    color: var(--darkgrey);
}

h1 code {
    color: var(--darkgrey);
}

h2 {
    color: var(--darkgrey);
}

#navbar {
    background-color: var(--darkpurplegradient);
    padding: 5px;
}

li {
    color: var(--darkpurple);
}

li.toctree-l1 a.reference.internal code {
    color: var(--darkpurple);
}

li .reference.internal {
    color: var(--darkpurple);
}

.nav.navbar-nav li a {
    color: var(--darkgrey);
}

.nav.navbar-nav li a:hover {
    color: var(--white);
}

#dLabelGlobalToc {
    color: var(--white);
}

#dLabelLocalToc {
    color: var(--white);
}

.genindex-jumpbox a {
    color: var(--darkpurple);
}

table td li a {
    color: var(--darkpurple);
}

.footer a {
    color: var(--darkpurple);
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: var(--darkpurple);
    text-decoration: none;
    background-color: var(--orange);
}

code {
    color: var(--darkpurple);
}

a {
    color: var(--darkpurple);
}

a.headerlink:hover {
    color: var(--darkgrey);
}

.navbar-default .navbar-brand {
    color: var(--white);
    /* background-color: transparent; */
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: var(--white);
    background-color: transparent;
    }
